*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
}

:root {
  --background-color: #ffffff;
  --background-light: #374343;
    --background-medium: #252D2D;
  --text-color: #333333;
  --light-text: #aaaaaa;
  --accent-color-1: #007acc;
  --accent-color-2: #ff4081;
}

.light-theme {
  --background-color: #1E2F23;
  --background-light: #34623F;
    --background-medium: #60774;
  --text-color: #333333;
  --light-text: #888888;
  --accent-color-1: #768948;
  --accent-color-2: #B39C4D;
}

.dark-theme {
  --background-color: #4c5b5c;
  --background-light: #374343;
    --background-medium: #252D2D;
  --text-color: #e0e0e0;
  --light-text: #aaaaaa;
  --accent-color-1: #db5461;
  --accent-color-2: #e3655b;
}

.race-theme {
  --background-color: #000000;
  --background-light: rgba(0,0,0,.5);
    --background-medium: rgba(0,0,0,.4);
  --text-color: #dddddd;
  --light-text: #aaaaaa;
  --accent-color-1: rgba(0,0,0,.3);
  --accent-color-2: rgba(0,0,0,.2);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color);
}

a {
  color: var(--accent-color-1);
}

button {
  background-color: var(--accent-color-1);
  color: var(--text-color);
}

button.secondary {
  background-color: var(--accent-color-2);
  color: var(--text-color);
}
